<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net45" />
  <package id="Microsoft.AnalysisServices.AdomdClient.Abstractions" version="1.0.10.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="NPOI" version="2.4.1" targetFramework="net45" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net45" />
</packages>